
<% provide(:title, 'Professional Experience') %>
<h3 class="page_title">Professional Experience</h3>




<div class="main_content">
<table table class="table table-bordered">
<!-- WalmartLabs -->
<tr>
<td width="300"><a href="http://www.walmartlabs.com" target="_blank"><%= image_tag "walmartlabslogo.png" %></a><br />
  <b>Principal Product Manager, Marketplace</b></br>
  2013 to Present</td>
<td>to be filled</td>
</tr>


<!-- Consulting 
<tr>
<td>
<b>Product and Business Strategy Consulting</b><br />
  2010 to 2012
</td>
<td>Develop product/business strategy and implementation plan for clients in the consumer eCommerce domain.<br />
  <ul>
    <li>Prototype development of a financial educatio application</li>
    <li>Consulted with El Dorado County to implement a shuttle bus service and marketing strategy. Service launched in summer, 2013.</li>
    <li>Developed a new products proposal and social media marketing strategy for a user generated fashion content company. 
    <li>Consulted with a personalize party favor company to expand their market base</li>
    <li>Created a proposal to revamp a baby products company's eCommerce website to improve profitability.</li>
  </ul></td>
</tr>
-->


<!-- PicStickers -->
<tr>
<td> <a href="http://www.picstickers.com" target="_blank"><%= image_tag "pxlogo.jpg" %></a></br>
  <b>Founder</b><br />2009 to 2012</td>
<td>
  <ul>
    <li>A privately held company founded in 2009. Produces custom photo stickers products.<br /></li>
    <li>From concept to launch and on-going growth: designed, developed, and launched company web site and products. 
    <li>Responsible for product development and marketing with emphasis on new customer acquisition.</li>
  <li>Business acquired by a personalized stationery company in 2012.</li>
  </ul> 
</td>
</tr>
<!-- Shutterfly -->
<tr>
<td><a href="http://www.shutterfly.com" target="_blank"><%= image_tag "sflylogo.gif" %></a></br><b>Sr. Group Product Manager</b></br>
  2007 to 2010</td>
<td>
<ul><li>Responsible for all partner products development and integrations with primary objective of user acquisition.</li>
  <li>Oversee entire product management lifecycle.</li>
<li>Manage partner team of 3 engineers and 5 partner account managers.</li>
<li>Championed Shutterfly's API Platform, iPhone Apps, and, social media marketing on Facebook and other websites.</li></ul>

<u>Strategy and Discovery</u>
<ul><li>Identify, Assess, and, Champion new product opportunities. Collaborate with Business Development and Partners to evaluate new product opportunities, target audience, and, competitive landscape.</li>
  <li>Create high-level product spec including user interaction wireframe, workflow diagram, scope estimate, resource requirement, and ROI analysis.</li>
<li>Perform product feature discovery. Build and test prototype. Conduct usability interviews and testing.</li>
</ul>

<u>Implemenation and Launch</u>
<ul><li>Lead product implementation: determine and write final product requirement spec (including back-end data and finance reporting needs) and implementation schedule.</li>
<li>Co-ordinate cross-functional development team: UI, engineering, QA, Marketing, Data Reporting, Finance, Customer Support, PR, external integration partners/vendors.</li>
<li>Work with Marketing on go-to-market plan.</li>
<li>Make new product review presentation to Execute Team (CEO, CMO, VPs, etc.) and new product release customer support training.</li>
</ul>

<u>Post Launch Management</u>
<ul><li>Monitor and communicate product performance to key stakeholders including execute team and external partners. Created Partner Dashboard showing key success metrics: $revenue, $average selling prices, #orders, etc.</li>
<li>Drive product feature enhancements to improve usability and profitability. Phased feature release schedule utilizing a/b testing to determine feature success.</li>
<li>Manage product roadmap: prioritize release schedule and manage engineering resource utilization against contractual commitments.</li>
<li>Hold weekly partner team meeting for existing product performance review, current project implementation status, resource utilization plan, and evaluate prospective projects.</li>
</ul><br />
<p><a class="btn btn-primary btn-large" href="products">Product Portfolio</a></p></td>
</tr>
<!-- BeVocal -->
<tr>
<td><a href="http://www.bevocal.com" target="_blank"><%= image_tag "bevocal.jpg" %></a> 
  acquired by <a href="http://www.nuance.com" target="_blank"><b>Nuance</b></a></br>
<b>Sr. Manager, Business Development and Product Management</b></br>
  2000 to 2006</td>
<td>
Leading provider of next-generation automated customer self-service solutions. Major customers include: Cingular Wireless, MetroPCS, Liberty Wireless, Virgin Mobile, and ADP Dealer Services.<br />  </p>
  <b><u>Product Management and Marketing</u></b></br>
  <li>Developed and deployed voice application products for major US Wireless Carrier customers (<a href="http://www.wireless.att.com/learn/basics/choosing-features-services/voiceinfo.jsp" target="blank">AT&T VoiceInfo</a>) and an Enterprise customer's CRM system (dealer service appointment scheduler).
  </li>
  <li>Performed market and competitive analyses. Build business cases and pricing models. Define product strategy. Write Product and Marketing Requirement Documents (PRD and MRD). Work with engineering to build and deploy products.
  </li>
  <li>Work with customers to develop consumer marketing strategies to launch new products and increase existing product usage and market penetration. </li></ul></p>

  <b><u>Business Development</u></b></br>
  <li>Responsible for formulating strategies, developing and managing partnerships to generate new business.</li>
  <li>Analyze and identify new business opportunities. Source and evaluate partners. Negotiate business terms (e.g. co-branding terms, joint marketing budget, licensing rights, and pricing/revenue share).
  </li>
  <li>Manage the company's entire portfolio of third-party content for the VoComm  product. Responsible for developing new content partnerships, managing existing partner issues, developing and executing co-marketing programs.
  </li>
  <li>Worked on strategic partnering deals including: Strategic Alliance Agreement with BellSouth; and Joint Marketing Agreement with SUN Microsystems.
  </li>
  <li>Represent company at tradeshows, conferences and promotional events.</li></ul></p>

  <b><u>Others</u></b>
  <li>Financial forecasting and reporting. Assisted company head-count and budget planning.
  </li>
  <li>Developed sales proposals, pricing analyses, and presentations. Proposals resulted in several customer wins. 
  </li>
  <li>Supported fund raising and sale of a business division. Built valuation models. Participated in due diligence. 
  </li></br></td>
</tr>
<!-- Bankers -->
<tr>
<td><b><a href="http://www.db.com" target="_blank"><%= image_tag "dbank.png" %></a><br />
  Associate, Investment Banking</b></br>
  Hong Kong</br>
  1996 to 1998</td>
<td>
Executed debt and equity-linked security issuances.</td>
</tr>
<!-- SCB -->
<tr>
<td><a href="http://www.standardchartered.com" target="_blank"><%= image_tag "scb.jpg" %></a><br />
  <b>Analyst, Investment Banking</b></br>London, New York, and Hong Kong</br>1994 to 1996</td>
<td>
Executed issuances of debt securities: bonds, notes, syndicagted loans.</td>
</tr>

</table>



<a href="#pagetop">Go to top</a>


</div>
